<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Market Mix</title>
</head>
<body>
    <section class="login" v-if="login">
        <h3>Registro</h3>
        <div>
          <form class="" @submit.prevent="enviar">
            <select class="select--options" v-model="cargo">
              <option  disabled selected="">Cargo</option>
              <option>Secretary</option>
              <option>vendedor</option>
              <option>ensamblador</option>
            </select>
      
            <input type="text" name="" id="" placeholder="Clave" v-model="clave">
      
            <button type="submit" >Enviar</button>
          </form>
        </div>
      </section>

    <section class="administrador-sistema" v-if="">

    </section>

    <section class="secretario" v-if="">

    </section>

    <section class="vendedor" v-if="">

    </section>

    <section class="ensamblador" v-if="">

    </section>

    <!-- Este es el CDN de Vue -->

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- Mando a llamar al main que es el archivo principal -->
    <script src="./js/main.js" type="module"></script>
    <script src="./js/login.js"></script>
</body>
</html>