*{
    box-sizing: border-box;
    padding: 0;
}

.form{
    display: flex;
    flex-direction: column;
    
}


.section--main{
   display: grid;
   place-items: center;
   max-width: 600px;
   margin: 0 auto;
   padding: 30px;
   padding-bottom: 40px;
   border: 1px solid rgb(162, 162, 162);
   border-radius: 10px;

   background: #4CA1AF; 
   background: -webkit-linear-gradient(to top, #C4E0E5, #4CA1AF);  
   background: linear-gradient(to top, #C4E0E5, #4CA1AF); 
   

}

h2, h4 {
   color:  rgb(48, 48, 48);
   
}

.login--form{
    display: flex;
    gap: 10px;
    padding-bottom: 10px;
}



input {
    width: 100px;
    padding: 2px;
    text-align: center;
    border: solid 1px rgb(162, 162, 162);
    color:  rgb(48, 48, 48);
}

select{
    width: 130px;
    padding: 2px;
    text-align: center;
    border: solid 1px rgb(162, 162, 162);
    color:  rgb(48, 48, 48);
}

.secretario--hors{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 410px;
    
}

.content--secretario{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 410px;
}


.content--vendedor{
   display: grid;
   gap: 10px;
   max-width: 410px;
}


.vendedor--zapats{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 410px;

}


.div--ensamblador{
   padding-bottom: 24px;
}

.content--ensamblador{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 410px;
}

.ensamblador--bono{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 410px;
}

.ensamblador--zapats{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 410px;
}

.ensamblador--salario{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 410px;
}

.btn{
    padding: 10px;
    border: solid 1px rgb(162, 162, 162);
    color:  rgb(48, 48, 48);
}