*{
    box-sizing: border-box;
    padding: 0;
}

.form{
    display: flex;
    flex-direction: column;
    
}


.section--main{
   display: grid;
   place-items: center;
   max-width: 450px;
   margin: 0 auto;
   padding: 30px;
   padding-bottom: 40px;
   border: 1px solid rgb(162, 162, 162);
   border-radius: 10px;

   background: #4CA1AF; 
   background: -webkit-linear-gradient(to top, #C4E0E5, #4CA1AF);  
   background: linear-gradient(to top, #C4E0E5, #4CA1AF); 

   margin-top: 100px;
   

}

h2, h4 {
   color:  rgb(48, 48, 48);
   
}

.login--form{
    display: flex;
    gap: 10px;
    padding-bottom: 10px;
}



input {
    width: 100px;
    padding: 2px;
    text-align: center;
    border: solid 1px rgb(162, 162, 162);
    color:  rgb(48, 48, 48);
}

select{
    width: 130px;
    padding: 2px;
    text-align: center;
    border: solid 1px rgb(162, 162, 162);
    color:  rgb(48, 48, 48);
}

.secretario--hors{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 410px;
    
}

.content--secretario{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 410px;
}


.content--vendedor{
   display: grid;
   gap: 10px;
   max-width: 410px;
}


.vendedor--zapats{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 410px;

}


.div--ensamblador{
   padding-bottom: 24px;
}

.content--ensamblador{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 410px;
}

.ensamblador--bono{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 410px;
}

.ensamblador--zapats{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 410px;
}

.ensamblador--salario{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 410px;
}

.btn,.inicio-btn{
    padding: 10px;
    border: solid 1px rgb(162, 162, 162);
    color:  rgb(48, 48, 48);
}

.inicio-btn{
    margin-top: 10px;
    border-radius: 5px;
}
.btn-habilitar{
    width: 100%;
    margin:10px auto;
    padding: 10px ;
}
.resultados{
    margin-top: 10px;
    /* background-color:  rgba(70,201,207,0.1);; */
    /* border: 3px solid rgb(70,201,207); */
    padding: 5px 15px;
    border-radius: 5px;
}
.lista-resultados{
    list-style: none;
}

body{
    background-image: url("https://uploadgerencie.com/imagenes/como-se-liquida-la-nomina.png");
    background-color: rgb(70,201,207);
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width:700px){
    .section--main{
        width: 90%;
     }
}